@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.795);
    color: white;
}

.section1 {
    width: 100%;
    background-image: url(/assets/images/background.jpg);
    height: 650px;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
    background-color: black;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

/* 
.content{
    display: flex;
    flex-direction: column;
    width: 100vw;
} */

.section1 .black-box {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    position: absolute;
    top: 0;
}

.nav-bar {
    position: relative;
    top: 0;
    /* z-index: 1; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 75vw;
    margin: auto;
    /* flex-wrap: wrap; */
    height: 15%;
}

.nav-bar .logo svg {
    width: 9.25rem;
    height: 2.5rem;
    color: rgb(229, 9, 20);
    fill: currentColor;
    display: block;
}

.nav-bar .right-part {
    display: flex;
    align-items: center;
}

.nav-bar .right-part .language {
    border: 0.5px solid gray;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
    padding: 5px 10px;
    margin: auto;
}

.nav-bar .right-part .language select {
    margin-left: 5px;
    font-size: 1.2rem;
    border: none;
    background: none;
    color: white;
    box-sizing: border-box;
}


.nav-bar .right-part .language select option {
    color: black;
}

.nav-bar .right-part .language .down-degree {
    margin: 0;
    padding: 0;
}

.nav-bar .right-part .sign-in {
    margin: auto;
    /* margin-left: 3px; */
}

.nav-bar .right-part .sign-in button {
    padding: 10px;
    margin: 8px;
    margin-right: 0px;
    border-radius: 4px;
    border: none;
    background-color: rgb(229, 9, 20);
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.welcome {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 85%;
    justify-content: center;
}

.welcome .offer {
    text-align: center;
    font-size: 1.5em;
}

.welcome .offer h1 {
    padding: 12px;
}

.get-email {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.get-account {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.get-account p {
    font-size: 1.1em;
}

.get-email input {
    width: 400px;
    border: 0.5px solid gray;
    border-radius: 7px;
    background-color: rgba(27, 27, 27, 0.61);
    color: white;
    margin: 20px;
    padding: 18px 20px;
    font-size: 1.1em;
}

.get-email input::placeholder {
    color: white;
}


.get-email .get-started button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 7px;
    background-color: rgb(229, 9, 20);
    color: white;
    font-size: 1.2rem;
    padding: 18px 28px;
    cursor: pointer;
    width: 201px;
    margin-right: 18px;
    justify-content: center;
}

/* section2 */

.section2 {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
    background-color: black;
    margin: 6px 0px;
    overflow: hidden;
    height: 500px;
    width: 100%;
}

.section2 .section2-text {
    width: 55%;
    padding: 20px 30px;
}

.section2 .section2-text h1 {
    font-size: 3.6em;
}

.section2 .section2-text p {
    font-size: 1.4em;
}

.section2 .tv-video {
    width: 26em;
}


.section2 .tv-video .tv-image img {
    width: 26em;
    position: relative;
    z-index: 1;
}

.section2 .tv-video .tv-image {
    height: 312px;
}


.section2 .tv-video .tv-image video {
    width: 19em;
    position: relative;
    bottom: 255px;
    left: 53px;
}

/* section3  */

.section3 {
    background-color: rgb(0, 0, 0);
    margin: 7px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section3 .stranger-things {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3 .stranger-things .mobile-img img {
    width: 500px;
}

.section3 .stranger-things .downloading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid gray;
    border-radius: 15px;
    width: 54%;
    height: 18%;
    background-color: black;
    padding: 3px 10px;
    position: relative;
    bottom: 140px;
}

.section3 .stranger-things .downloading .s-t-img {
    width: 20%;
}

.section3 .stranger-things .downloading .s-t-img img {
    width: 100%;
    margin: 3px;
    margin-right: 5px;
}


.section3 .stranger-things .downloading .s-t-text .p2 {
    font-size: 0.8em;
    color: rgb(0, 26, 255);
}

.section3 .stranger-things .downloading .downloading-gif img {
    width: 55px;
}

.section3 .download-text {
    width: 40%;
}

.section3 .download-text .big-txt {
    font-size: 3.2em;
    font-weight: 800;
}

.section3 .download-text .small-txt {
    font-size: 1.6em;
}

/* section4 */
.section4 {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 500px; */
}

.section4 .desktop-video{
   display: flex;
   align-items: center;
   height: 500px;
}

.section4 .desktop-video .desktop-image {
    width: 500px;
    height: 360px;
    /* border: 2px solid red; */
}


.section4 .desktop-video .desktop-image img{
    width: 100%;
    position: relative;
    z-index: 1;
}
.section4 .desktop-video .desktop-image video{
    width: 65%;
    position: relative;
    bottom: 334px;
    left: 80px;
}

.section4 .section4-text{
    width: 40vw;
}

.section4 .section4-text h1{
    font-size: 3.2em;
}
.section4 .section4-text p{
    font-size:1.4em;
    word-spacing: 4px;
}


/* section5 */
.section5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    background-color: black;
}

.section5 .child-image{
    height: 500px;
    display: flex;
    align-items: center;
}

.section5 .child-image img{
    width: 500px;
}

.section5 .section5-text{
    width: 40vw;
}

.section5 .section5-text h1{
    font-size: 3.2em;
}
.section5 .section5-text p{
    font-size: 1.5em;
    font-weight: 300;
}

/* section6 */

.section6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 7px;
    padding: 30px;

}

.section6 .heading-sec6 h1{
    font-size: 3.3em;
    text-align: center;
}

.section6 .questions{
    display: flex;
    flex-direction: column;

}

.section6 .questions .question{
    width: 70vw;
    background-color: rgb(65, 64, 64);
    margin: 10px 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 400;
    cursor: pointer;
}

.section6 .questions .question svg{
    width: 30px;
    cursor: pointer;
}



/* .section7 */

.language-option{
    width: 80vw;
    display: flex;
    justify-content: flex-start;
}

.language1 {
    border: 0.5px solid gray;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
    padding: 5px 10px;
    margin: auto;
    width: 100px;
}

.language1 select {
    margin-left: 5px;
    font-size: 1.2rem;
    border: none;
    background: none;
    color: white;
    box-sizing: border-box;
}


.language1 select option {
    color: black;
}


.section7{
    display: flex;
    flex-direction: column;
    background-color: black;
    margin-top: 7px;
    color: gray;
    align-items: center;
    padding: 20px;
    /* justify-content: flex-start; */
}

.section7 .helpline-no{
    width: 80vw;
}

.section7 .links{
    display: grid;
    /* grid-row: 1fr 1fr 1fr 1fr; */
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80vw;
}

.section7 .links a{
    text-decoration: underline;
    color: gray;
}

/* media queries */


@media screen and (max-width:1240px){
    .section4{
        justify-content: space-evenly;
    }

    .section4 .section4-text{
        width: 45vw;
    }

    .section6 .questions .question{
        width: 90vw;

    }

    .section6 .heading-sec6 h1{
        font-size: 1.8em;
    }
    
    
}

@media screen and (max-width:950px) {
    .section1 {
        height: 600px;
    }

    .welcome .offer {
        font-size: 0.9em;
        font-weight: 400;
    }

    .welcome .offer h1 {
        font-size: 2.1em;
        font-weight: 600;
    }

    .nav-bar .right-part .language select {
        padding: 0px 18px;
        font-size: 1em;
    }

    .nav-bar .right-part .sign-in button {
        font-size: 0.8em;
        padding: 8px 13px;
        font-weight: 400;
        width: 78px;
    }

    .nav-bar {
        justify-content: space-between;
        max-width: 90vw;
    }

    .section2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section2 .section2-text {
        text-align: center;
        width: 100%;
    }

    .section3 {
        flex-direction: column-reverse;
    }

    .section3 .download-text {
        width: 80%;
        text-align: center;
        margin: 30px;
    }

    .section3 .download-text .big-txt {
        font-size: 2.2em;
        font-weight: 500;
    }

    .section3 .download-text .small-txt {
        font-size: 1em;
    }

    .section4 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section4 .section4-text{
        margin-top: 50px;
        width:auto;
        text-align: center;
    }

    .section4 .section4-text h1{
        font-size: 2em;
        font-weight: 500;
    }

    .section4 .section4-text p{
        font-size:1em;
        word-spacing: 4px;
        word-spacing: normal;
    }

    .section5{
        display: flex;
        flex-direction: column-reverse;
    }

    .section5 .child-image{
        height: auto;
    }

    .section5 .child-image img{
        width: 100%;
    }

    .section5 .section5-text{
        width: 80vw;
        text-align: center;
    }

    .section5 .section5-text h1{
        font-size: 2.2em;
        margin: 10px;
    }
    .section5 .section5-text p{
        font-size: 1em;
        font-weight: 300;
    }
    
    .section7 .links{
        /* display: grid; */
        /* grid-row: 1fr 1fr 1fr 1fr; */
        /* grid-template-rows: 1fr 1fr 1fr 1fr; */
        grid-template-columns: 1fr 1fr;
        /* width: 80vw; */
    }

}

@media screen and (max-width:705px) {
    .get-email input {
        width: 60vw;
    }


    .section2 .section2-text h1 {
        font-size: 2em;
    }

    .section2 .section2-text p {
        font-size: 1em;
    }

  
    

  
}

@media screen and (max-width:600px) {
    .nav-bar {
        height: 13%;
    }

    .nav-bar .logo svg {
        width: 7rem;
    }

    .nav-bar .right-part .sign-in button {
        font-size: 0.8em;
        padding: 8px 13px;
        font-weight: 400;
    }

    .get-email {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .get-email input {
        padding: 10px 20px;
        font-size: 1em;
        width: 70vw;
    }

    .get-email .get-started button {
        padding: 10px 16px;
        width: 170px;
    }


    .nav-bar .right-part .language select {
        width: 10px;
    }


    .section3 .stranger-things .mobile-img img {
        width: 100vw;
    }

    .section3 .stranger-things .downloading {
        width: 54%;
        height: 5%;
        bottom: 100px;
    }

    .section3 .stranger-things .downloading .s-t-img {
        width: 20%;
    }

    .section3 .stranger-things .downloading .s-t-text .p1 {
        font-size: 0.8em;
    }

    .section3 .stranger-things .downloading .s-t-text .p2 {
        font-size: 0.6em;
        color: rgb(0, 26, 255);
    }

    .section3 .stranger-things .downloading .downloading-gif img {
        width: 35px;
    }

    .section4 .desktop-video{
        display: flex;
        align-items: center;
        height: 300px;
     }

    .section4 .desktop-video .desktop-image {
        width: 300px;
        height: 240px;
    }

    .section4 .desktop-video .desktop-image video{
        width: 65%;
        position: relative;
        bottom: 210px;
        left: 50px;
    }
    .section5 .section5-text h1{
        font-size: 1.9em;
    }


}

@media screen and (max-width:400px) {
    .nav-bar {
        height: 11%;
    }

    .nav-bar .logo svg {
        width: 6rem;
    }

    .nav-bar .right-part .language {
        padding: 1px;
    }

    .get-email input {
        width: 80vw;
    }

    

}